<div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>
</div>

<button pButton 
  (click)="mostrarNombre()"
  icon="pi pi-bell"
  iconPos="right"
  class="p-button-help"
  label="Cambiar Nombre"></button>

  <p-card [header]="nombre | titlecase"
          subheader="Esto es un subheader">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, itaque numquam perferendis a quia corrupti dicta odit aperiam doloremque repudiandae eum illum. Ipsum tempora aliquam, nostrum voluptas neque quisquam dolorum?
  </p-card>